<!DOCTYPE html>
<html>
<head>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/controllers/homeController.js" type="text/javascript"></script>
<script src="scripts/controllers/userController.js" type="text/javascript"></script>
<script src="scripts/services/userService.js" type="text/javascript"></script>
<script src="scripts/controllers/teamController.js" type="text/javascript"></script>
<script src="scripts/services/teamService.js" type="text/javascript"></script>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body ng-app="pomodoroapp">
<div>
	<h4>Home</h4>
	<ul>
		<li><a href="#!/user">Logged in user</a></li>
		<li><a href="#!/userList">All users</a></li>
		<li><a href="#!/userTeams">User teams</a></li>
		<li><a href="#!/tasks">All tasks</a></li>
	</ul>
</div>
</body>
</html>
