<h1>{{selectedTeam.name}}</h1>
<div>
	<p>Team details</p>
	<div ng-repeat="user in selectedTeam.users">
		<div>
			<p>Email: {{user.email}}</p>
			<p>First name: {{user.firstName}}</p>
			<p>Last name: {{user.lastName}}</p>
		</div>
		<div>
			<h5>Pomodoros</h5>
			<div ng-repeat="pomodoro in user.pomodoros">
				<p>{{pomodoro.name}}</p>
				<input ng-if="'teodorapomana1@gmail.com'==user.email" type="button" value="Start pomodoro">
				<p>User started a pomodoro</p>
			</div>
		</div>
		<hr>
	</div>
</div>
